@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 196, 196, 196;
  --background-start-rgb: 28, 34, 51;
  --background-end-rgb: 28, 34, 51;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  width: 100%;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  overflow-x: hidden;
  width: 100%;
  position: relative;
}

main {
  overflow-x: hidden;
  width: 100%;
  max-width: 100vw;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* カスタムスクロールバー */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #1c2233;
}

::-webkit-scrollbar-thumb {
  background: #7ec8e3;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #d4af37;
}
